{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
    <div {{ react_component('navbar/Navbar', {'auth': app.user}) }}></div>

    <div {{ react_component('generatequizz/generateQuizz', {}) }}></div>
{% endblock %}
